USE [master]
GO
/****** Object:  Database [MatriculaDB]    Script Date: 11/04/2026 15:13:55 ******/
CREATE DATABASE [MatriculaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MatriculaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.PCANDREW\MSSQL\DATA\MatriculaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MatriculaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.PCANDREW\MSSQL\DATA\MatriculaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MatriculaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MatriculaDB]
GO
/****** Object:  Table [dbo].[Aula]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aula](
	[id_aula] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[capacidad] [int] NOT NULL,
	[ubicacion] [nvarchar](150) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_aula] PRIMARY KEY CLUSTERED 
(
	[id_aula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraAuditoria]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraAuditoria](
	[id_bitacora] [bigint] IDENTITY(1,1) NOT NULL,
	[id_TipoAuditoria] [int] NOT NULL,
	[cedula_usuario] [nvarchar](20) NOT NULL,
	[tabla_afectada] [nvarchar](100) NOT NULL,
	[id_registro] [nvarchar](50) NOT NULL,
	[accion] [nvarchar](20) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[ip_origen] [nvarchar](45) NULL,
	[fecha_accion] [datetime2](7) NOT NULL,
 CONSTRAINT [pk_bitacoraauditoria] PRIMARY KEY CLUSTERED 
(
	[id_bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Canton]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canton](
	[id_canton] [int] IDENTITY(1,1) NOT NULL,
	[id_provincia] [int] NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_canton] PRIMARY KEY CLUSTERED 
(
	[id_canton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[id_carrera] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_carreras] PRIMARY KEY CLUSTERED 
(
	[id_carrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Correquisitos]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Correquisitos](
	[id_correquisito] [int] IDENTITY(1,1) NOT NULL,
	[id_curso] [int] NOT NULL,
	[id_curso_coreq] [int] NOT NULL,
 CONSTRAINT [pk_correquisitos] PRIMARY KEY CLUSTERED 
(
	[id_correquisito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[id_curso] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](150) NOT NULL,
	[activo] [bit] NOT NULL,
	[id_carrera] [int] NOT NULL,
	[creditos] [int] NOT NULL,
 CONSTRAINT [pk_cursos] PRIMARY KEY CLUSTERED 
(
	[id_curso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[id_distrito] [int] IDENTITY(1,1) NOT NULL,
	[id_canton] [int] NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_distrito] PRIMARY KEY CLUSTERED 
(
	[id_distrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[id_pago] [int] NOT NULL,
	[cedula_persona] [nvarchar](20) NOT NULL,
	[id_matricula] [int] NOT NULL,
	[monto_total] [decimal](10, 2) NOT NULL,
	[descuento] [decimal](10, 2) NOT NULL,
	[monto_neto] [decimal](10, 2) NOT NULL,
	[fecha_emision] [datetime2](7) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
 CONSTRAINT [pk_factura] PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupos]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupos](
	[id_grupo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
	[id_curso] [int] NOT NULL,
	[id_carrera] [int] NOT NULL,
	[id_periodo] [int] NOT NULL,
	[id_aula] [int] NOT NULL,
	[cupo_maximo] [int] NOT NULL,
	[cupo_actual] [int] NOT NULL,
 CONSTRAINT [pk_grupos] PRIMARY KEY CLUSTERED 
(
	[id_grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[id_grupo] [int] NOT NULL,
	[dia_semana] [tinyint] NOT NULL,
	[hora_inicio] [time](0) NOT NULL,
	[hora_fin] [time](0) NOT NULL,
 CONSTRAINT [pk_horarios] PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaEspera]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaEspera](
	[id_espera] [int] IDENTITY(1,1) NOT NULL,
	[cedula_persona] [nvarchar](20) NOT NULL,
	[id_grupo] [int] NOT NULL,
	[fecha_registro] [datetime2](7) NOT NULL,
 CONSTRAINT [pk_listaespera] PRIMARY KEY CLUSTERED 
(
	[id_espera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[id_matricula] [int] IDENTITY(1,1) NOT NULL,
	[cedula_persona] [nvarchar](20) NOT NULL,
	[id_grupo] [int] NOT NULL,
	[id_periodo] [int] NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[fecha_matricula] [datetime2](7) NOT NULL,
	[fecha_confirmacion] [datetime2](7) NULL,
	[observaciones] [nvarchar](500) NULL,
 CONSTRAINT [pk_matricula] PRIMARY KEY CLUSTERED 
(
	[id_matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_matricula_persona_grupo] UNIQUE NONCLUSTERED 
(
	[cedula_persona] ASC,
	[id_grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodosPago]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodosPago](
	[id_MetodoPago] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_metodospago] PRIMARY KEY CLUSTERED 
(
	[id_MetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[id_notificacion] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_notificacion] [int] NOT NULL,
	[cedula_persona] [nvarchar](20) NOT NULL,
	[asunto] [nvarchar](200) NOT NULL,
	[mensaje] [nvarchar](max) NOT NULL,
	[canal] [nvarchar](20) NOT NULL,
	[estado_envio] [nvarchar](20) NOT NULL,
	[fecha_envio] [datetime2](7) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
 CONSTRAINT [pk_notificaciones] PRIMARY KEY CLUSTERED 
(
	[id_notificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[id_MetodoPago] [int] NOT NULL,
	[cedula_persona] [nvarchar](20) NOT NULL,
	[id_matricula] [int] NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[saldo] [decimal](10, 2) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[referencia_externa] [nvarchar](100) NULL,
	[fecha_pago] [datetime2](7) NOT NULL,
 CONSTRAINT [pk_pagos] PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Periodos]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodos](
	[id_periodo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
 CONSTRAINT [pk_periodos] PRIMARY KEY CLUSTERED 
(
	[id_periodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[cedula] [nvarchar](20) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[apellidos] [nvarchar](100) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[sexo] [char](1) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[activo] [bit] NOT NULL,
	[bloqueado] [bit] NOT NULL,
	[moroso] [bit] NOT NULL,
	[id_provincia] [int] NOT NULL,
	[id_canton] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
 CONSTRAINT [pk_persona] PRIMARY KEY CLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonaDescuento]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonaDescuento](
	[id_persona_descuento] [int] IDENTITY(1,1) NOT NULL,
	[cedula_persona] [nvarchar](20) NOT NULL,
	[id_tipo_descuento] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_personadescuento] PRIMARY KEY CLUSTERED 
(
	[id_persona_descuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreRequisitos]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreRequisitos](
	[id_prerequisito] [int] IDENTITY(1,1) NOT NULL,
	[id_curso] [int] NOT NULL,
	[id_curso_req] [int] NOT NULL,
 CONSTRAINT [pk_prerequisitos] PRIMARY KEY CLUSTERED 
(
	[id_prerequisito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id_provincia] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_provincia] PRIMARY KEY CLUSTERED 
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_roles] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAuditoria]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAuditoria](
	[id_TipoAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_tipoauditoria] PRIMARY KEY CLUSTERED 
(
	[id_TipoAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDescuento]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDescuento](
	[id_tipo_descuento] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[porcentaje] [decimal](5, 2) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_tipodescuento] PRIMARY KEY CLUSTERED 
(
	[id_tipo_descuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoNotificacion]    Script Date: 11/04/2026 15:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoNotificacion](
	[id_tipo_notificacion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [pk_tiponotificacion] PRIMARY KEY CLUSTERED 
(
	[id_tipo_notificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aula] ADD  CONSTRAINT [df_aula_capacidad]  DEFAULT ((0)) FOR [capacidad]
GO
ALTER TABLE [dbo].[Aula] ADD  CONSTRAINT [df_aula_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[BitacoraAuditoria] ADD  CONSTRAINT [df_bitacora_fecha]  DEFAULT (getdate()) FOR [fecha_accion]
GO
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [df_canton_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Carreras] ADD  CONSTRAINT [df_carreras_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Cursos] ADD  CONSTRAINT [df_cursos_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Cursos] ADD  CONSTRAINT [df_cursos_creditos]  DEFAULT ((0)) FOR [creditos]
GO
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [df_distrito_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [df_factura_desc]  DEFAULT ((0.00)) FOR [descuento]
GO
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [df_factura_fecha]  DEFAULT (getdate()) FOR [fecha_emision]
GO
ALTER TABLE [dbo].[Grupos] ADD  CONSTRAINT [df_grupos_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Grupos] ADD  CONSTRAINT [df_grupos_cupomax]  DEFAULT ((30)) FOR [cupo_maximo]
GO
ALTER TABLE [dbo].[Grupos] ADD  CONSTRAINT [df_grupos_cupoact]  DEFAULT ((0)) FOR [cupo_actual]
GO
ALTER TABLE [dbo].[ListaEspera] ADD  CONSTRAINT [df_espera_fecha]  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Matricula] ADD  CONSTRAINT [df_matricula_estado]  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Matricula] ADD  CONSTRAINT [df_matricula_fecha]  DEFAULT (getdate()) FOR [fecha_matricula]
GO
ALTER TABLE [dbo].[MetodosPago] ADD  CONSTRAINT [df_metodospago_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  CONSTRAINT [df_notif_canal]  DEFAULT ('email') FOR [canal]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  CONSTRAINT [df_notif_estado]  DEFAULT ('pendiente') FOR [estado_envio]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  CONSTRAINT [df_notif_creacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Pagos] ADD  CONSTRAINT [df_pagos_saldo]  DEFAULT ((0.00)) FOR [saldo]
GO
ALTER TABLE [dbo].[Pagos] ADD  CONSTRAINT [df_pagos_estado]  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Pagos] ADD  CONSTRAINT [df_pagos_fecha]  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[Periodos] ADD  CONSTRAINT [df_periodos_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Persona] ADD  CONSTRAINT [df_persona_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Persona] ADD  CONSTRAINT [df_persona_bloqueado]  DEFAULT ((0)) FOR [bloqueado]
GO
ALTER TABLE [dbo].[Persona] ADD  CONSTRAINT [df_persona_moroso]  DEFAULT ((0)) FOR [moroso]
GO
ALTER TABLE [dbo].[PersonaDescuento] ADD  CONSTRAINT [df_pdesc_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [df_provincia_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [df_roles_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[TipoAuditoria] ADD  CONSTRAINT [df_tipoauditoria_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[TipoDescuento] ADD  CONSTRAINT [df_tipodesc_pct]  DEFAULT ((0.00)) FOR [porcentaje]
GO
ALTER TABLE [dbo].[TipoDescuento] ADD  CONSTRAINT [df_tipodesc_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[TipoNotificacion] ADD  CONSTRAINT [df_tiponotif_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[BitacoraAuditoria]  WITH CHECK ADD  CONSTRAINT [fk_bitacora_tipo] FOREIGN KEY([id_TipoAuditoria])
REFERENCES [dbo].[TipoAuditoria] ([id_TipoAuditoria])
GO
ALTER TABLE [dbo].[BitacoraAuditoria] CHECK CONSTRAINT [fk_bitacora_tipo]
GO
ALTER TABLE [dbo].[BitacoraAuditoria]  WITH CHECK ADD  CONSTRAINT [fk_bitacora_usuario] FOREIGN KEY([cedula_usuario])
REFERENCES [dbo].[Persona] ([cedula])
GO
ALTER TABLE [dbo].[BitacoraAuditoria] CHECK CONSTRAINT [fk_bitacora_usuario]
GO
ALTER TABLE [dbo].[Canton]  WITH CHECK ADD  CONSTRAINT [fk_canton_provincia] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[Provincia] ([id_provincia])
GO
ALTER TABLE [dbo].[Canton] CHECK CONSTRAINT [fk_canton_provincia]
GO
ALTER TABLE [dbo].[Correquisitos]  WITH CHECK ADD  CONSTRAINT [fk_coreq_curso] FOREIGN KEY([id_curso])
REFERENCES [dbo].[Cursos] ([id_curso])
GO
ALTER TABLE [dbo].[Correquisitos] CHECK CONSTRAINT [fk_coreq_curso]
GO
ALTER TABLE [dbo].[Correquisitos]  WITH CHECK ADD  CONSTRAINT [fk_coreq_curso_req] FOREIGN KEY([id_curso_coreq])
REFERENCES [dbo].[Cursos] ([id_curso])
GO
ALTER TABLE [dbo].[Correquisitos] CHECK CONSTRAINT [fk_coreq_curso_req]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [fk_cursos_carrera] FOREIGN KEY([id_carrera])
REFERENCES [dbo].[Carreras] ([id_carrera])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [fk_cursos_carrera]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [fk_distrito_canton] FOREIGN KEY([id_canton])
REFERENCES [dbo].[Canton] ([id_canton])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [fk_distrito_canton]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [fk_factura_matricula] FOREIGN KEY([id_matricula])
REFERENCES [dbo].[Matricula] ([id_matricula])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [fk_factura_matricula]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [fk_factura_pago] FOREIGN KEY([id_pago])
REFERENCES [dbo].[Pagos] ([id_pago])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [fk_factura_pago]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [fk_factura_persona] FOREIGN KEY([cedula_persona])
REFERENCES [dbo].[Persona] ([cedula])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [fk_factura_persona]
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD  CONSTRAINT [fk_grupos_aula] FOREIGN KEY([id_aula])
REFERENCES [dbo].[Aula] ([id_aula])
GO
ALTER TABLE [dbo].[Grupos] CHECK CONSTRAINT [fk_grupos_aula]
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD  CONSTRAINT [fk_grupos_carrera] FOREIGN KEY([id_carrera])
REFERENCES [dbo].[Carreras] ([id_carrera])
GO
ALTER TABLE [dbo].[Grupos] CHECK CONSTRAINT [fk_grupos_carrera]
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD  CONSTRAINT [fk_grupos_curso] FOREIGN KEY([id_curso])
REFERENCES [dbo].[Cursos] ([id_curso])
GO
ALTER TABLE [dbo].[Grupos] CHECK CONSTRAINT [fk_grupos_curso]
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD  CONSTRAINT [fk_grupos_periodo] FOREIGN KEY([id_periodo])
REFERENCES [dbo].[Periodos] ([id_periodo])
GO
ALTER TABLE [dbo].[Grupos] CHECK CONSTRAINT [fk_grupos_periodo]
GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD  CONSTRAINT [fk_horario_grupo] FOREIGN KEY([id_grupo])
REFERENCES [dbo].[Grupos] ([id_grupo])
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [fk_horario_grupo]
GO
ALTER TABLE [dbo].[ListaEspera]  WITH CHECK ADD  CONSTRAINT [fk_espera_grupo] FOREIGN KEY([id_grupo])
REFERENCES [dbo].[Grupos] ([id_grupo])
GO
ALTER TABLE [dbo].[ListaEspera] CHECK CONSTRAINT [fk_espera_grupo]
GO
ALTER TABLE [dbo].[ListaEspera]  WITH CHECK ADD  CONSTRAINT [fk_espera_persona] FOREIGN KEY([cedula_persona])
REFERENCES [dbo].[Persona] ([cedula])
GO
ALTER TABLE [dbo].[ListaEspera] CHECK CONSTRAINT [fk_espera_persona]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [fk_matricula_grupo] FOREIGN KEY([id_grupo])
REFERENCES [dbo].[Grupos] ([id_grupo])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [fk_matricula_grupo]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [fk_matricula_periodo] FOREIGN KEY([id_periodo])
REFERENCES [dbo].[Periodos] ([id_periodo])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [fk_matricula_periodo]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [fk_matricula_persona] FOREIGN KEY([cedula_persona])
REFERENCES [dbo].[Persona] ([cedula])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [fk_matricula_persona]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [fk_notif_persona] FOREIGN KEY([cedula_persona])
REFERENCES [dbo].[Persona] ([cedula])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [fk_notif_persona]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [fk_notif_tipo] FOREIGN KEY([id_tipo_notificacion])
REFERENCES [dbo].[TipoNotificacion] ([id_tipo_notificacion])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [fk_notif_tipo]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [fk_pago_matricula] FOREIGN KEY([id_matricula])
REFERENCES [dbo].[Matricula] ([id_matricula])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [fk_pago_matricula]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [fk_pago_metodo] FOREIGN KEY([id_MetodoPago])
REFERENCES [dbo].[MetodosPago] ([id_MetodoPago])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [fk_pago_metodo]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [fk_pago_persona] FOREIGN KEY([cedula_persona])
REFERENCES [dbo].[Persona] ([cedula])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [fk_pago_persona]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [fk_persona_canton] FOREIGN KEY([id_canton])
REFERENCES [dbo].[Canton] ([id_canton])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [fk_persona_canton]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [fk_persona_provincia] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[Provincia] ([id_provincia])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [fk_persona_provincia]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [fk_persona_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [fk_persona_rol]
GO
ALTER TABLE [dbo].[PersonaDescuento]  WITH CHECK ADD  CONSTRAINT [fk_pdesc_persona] FOREIGN KEY([cedula_persona])
REFERENCES [dbo].[Persona] ([cedula])
GO
ALTER TABLE [dbo].[PersonaDescuento] CHECK CONSTRAINT [fk_pdesc_persona]
GO
ALTER TABLE [dbo].[PersonaDescuento]  WITH CHECK ADD  CONSTRAINT [fk_pdesc_tipo] FOREIGN KEY([id_tipo_descuento])
REFERENCES [dbo].[TipoDescuento] ([id_tipo_descuento])
GO
ALTER TABLE [dbo].[PersonaDescuento] CHECK CONSTRAINT [fk_pdesc_tipo]
GO
ALTER TABLE [dbo].[PreRequisitos]  WITH CHECK ADD  CONSTRAINT [fk_prereq_curso] FOREIGN KEY([id_curso])
REFERENCES [dbo].[Cursos] ([id_curso])
GO
ALTER TABLE [dbo].[PreRequisitos] CHECK CONSTRAINT [fk_prereq_curso]
GO
ALTER TABLE [dbo].[PreRequisitos]  WITH CHECK ADD  CONSTRAINT [fk_prereq_curso_req] FOREIGN KEY([id_curso_req])
REFERENCES [dbo].[Cursos] ([id_curso])
GO
ALTER TABLE [dbo].[PreRequisitos] CHECK CONSTRAINT [fk_prereq_curso_req]
GO
USE [master]
GO
